body{
    background-color: rgb(30, 29, 29);
    color: antiquewhite;
    max-width: 900px;
    margin:auto
}

 header{
    margin: 35px 0 0 10px;
    font-size: 20px;
 }

 section.jumbotron {
    text-align: center;
  text-decoration-color: cornsilk;
    padding: 10px 0 10px;
    font-size: 30px;
    
 }
 a{
    color: #df1515; 
 }

 h2,h3{
    color: cornflowerblue;
 }

 h3{
    
 }
 aside nav a {
   display: block;
   text-align: center;
 }

section > article > h3, h4 {
    color: coral;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p.center{
    text-align: center;
}